# The active Spring profile for the inventory-service (e.g., dev, prod)
SPRING_PROFILES_ACTIVE=dev

# Port mapping on the host to map inventory-service port (8081 for dev, 8082 for prod)
PORT_MAPPING=8081:8081
